$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon_plus: "\e902";
$icon_arrow: "\e903";
$icon_quotes: "\e904";
$icon_play: "\e905";
$icon_phone: "\e906";
$icon_ch-path1: "\e907";
$icon_ch-path2: "\e908";
$icon_ch-path3: "\e909";
$icon_sign: "\e90b";

