{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "",
      "timeout": 20000,
      "autoUpload": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "index.html",
          "mtimeMs": 1665949720011.5422,
          "ctimeMs": 1665949720011.5422,
          "date": "2022-10-16T19:48:40.323Z"
        },
        {
          "file": "send.php",
          "mtimeMs": 1650972422367.755,
          "ctimeMs": 1664977921956.4478,
          "date": "2022-10-05T14:03:40.817Z"
        },
        {
          "file": "css/style.css",
          "mtimeMs": 1665949740521.1914,
          "ctimeMs": 1665949740521.1914,
          "date": "2022-10-16T19:49:00.883Z"
        },
        {
          "file": "fonts/icon/Read Me.txt",
          "mtimeMs": 1665679704000,
          "ctimeMs": 1665844607930.652,
          "date": "2022-10-15T18:11:01.610Z"
        },
        {
          "file": "fonts/icon/demo.html",
          "mtimeMs": 1665679704000,
          "ctimeMs": 1665905138136.0308,
          "date": "2022-10-16T08:08:20.942Z"
        },
        {
          "file": "fonts/icon/selection.json",
          "mtimeMs": 1665679704000,
          "ctimeMs": 1665844607928.9302,
          "date": "2022-10-15T18:11:01.920Z"
        },
        {
          "file": "fonts/icon/style.css",
          "mtimeMs": 1665844608254.5747,
          "ctimeMs": 1665844608254.5747,
          "date": "2022-10-15T14:36:49.046Z"
        },
        {
          "file": "fonts/icon/demo-files/demo.css",
          "mtimeMs": 1665679704000,
          "ctimeMs": 1665844607922.7314,
          "date": "2022-10-15T18:11:02.069Z"
        },
        {
          "file": "fonts/icon/demo-files/demo.js",
          "mtimeMs": 1665679704000,
          "ctimeMs": 1665844607924.4573,
          "date": "2022-10-15T18:11:02.224Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.eot",
          "mtimeMs": 1665679704000,
          "ctimeMs": 1665844607936.9446,
          "date": "2022-10-15T18:11:02.421Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.svg",
          "mtimeMs": 1665679704000,
          "ctimeMs": 1665844607938.0295,
          "date": "2022-10-15T18:11:04.130Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.ttf",
          "mtimeMs": 1665679704000,
          "ctimeMs": 1665844607934.103,
          "date": "2022-10-15T18:11:04.287Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.woff",
          "mtimeMs": 1665679704000,
          "ctimeMs": 1665844607935.502,
          "date": "2022-10-15T18:11:04.436Z"
        },
        {
          "file": "img/logo.png",
          "mtimeMs": 1665678772628.7253,
          "ctimeMs": 1665844632134.333,
          "date": "2022-10-15T14:37:12.489Z"
        },
        {
          "file": "js/form.js",
          "mtimeMs": 1650977430011.979,
          "ctimeMs": 1664977922027.6365,
          "date": "2022-10-05T14:03:52.255Z"
        },
        {
          "file": "js/function.js",
          "mtimeMs": 1665943720600.3293,
          "ctimeMs": 1665943720600.3293,
          "date": "2022-10-16T18:08:40.936Z"
        },
        {
          "file": "js/jquery.js",
          "mtimeMs": 1640906772000,
          "ctimeMs": 1664977922030.6157,
          "date": "2022-10-05T14:03:52.620Z"
        },
        {
          "file": "js/modal.js",
          "mtimeMs": 1640906772000,
          "ctimeMs": 1664977922028.7007,
          "date": "2022-10-05T14:03:52.758Z"
        },
        {
          "file": "fonts/Literata/Literata-Light.eot",
          "mtimeMs": 1665842686000,
          "ctimeMs": 1665842703337.948,
          "date": "2022-10-15T14:07:32.312Z"
        },
        {
          "file": "fonts/Literata/Literata-Light.ttf",
          "mtimeMs": 1665842686000,
          "ctimeMs": 1665842703338.1077,
          "date": "2022-10-15T14:07:32.538Z"
        },
        {
          "file": "fonts/Literata/Literata-Light.woff",
          "mtimeMs": 1665842686000,
          "ctimeMs": 1665842703338.1646,
          "date": "2022-10-15T14:07:32.753Z"
        },
        {
          "file": "fonts/Literata/Literata-Light.woff2",
          "mtimeMs": 1665842688000,
          "ctimeMs": 1665842703337.8606,
          "date": "2022-10-15T14:07:32.989Z"
        },
        {
          "file": "fonts/Literata/demo.html",
          "mtimeMs": 1665842688000,
          "ctimeMs": 1665842703338.071,
          "date": "2022-10-15T14:07:33.130Z"
        },
        {
          "file": "fonts/Literata/stylesheet.css",
          "mtimeMs": 1665842688000,
          "ctimeMs": 1665842703338.0283,
          "date": "2022-10-15T14:07:33.270Z"
        },
        {
          "file": "fonts/Manrope/Manrope-Regular.eot",
          "mtimeMs": 1665842560000,
          "ctimeMs": 1665842625614.6394,
          "date": "2022-10-15T14:07:33.469Z"
        },
        {
          "file": "fonts/Manrope/Manrope-Regular.ttf",
          "mtimeMs": 1665842560000,
          "ctimeMs": 1665842625614.5818,
          "date": "2022-10-15T14:07:33.679Z"
        },
        {
          "file": "fonts/Manrope/Manrope-Regular.woff",
          "mtimeMs": 1665842560000,
          "ctimeMs": 1665842625614.5537,
          "date": "2022-10-15T14:07:33.838Z"
        },
        {
          "file": "fonts/Manrope/Manrope-Regular.woff2",
          "mtimeMs": 1665842560000,
          "ctimeMs": 1665842625614.4377,
          "date": "2022-10-15T14:07:33.990Z"
        },
        {
          "file": "fonts/Manrope/Manrope-SemiBold.eot",
          "mtimeMs": 1665842560000,
          "ctimeMs": 1665842625614.4084,
          "date": "2022-10-15T14:07:34.171Z"
        },
        {
          "file": "fonts/Manrope/Manrope-SemiBold.ttf",
          "mtimeMs": 1665842560000,
          "ctimeMs": 1665842625614.4954,
          "date": "2022-10-15T14:07:34.374Z"
        },
        {
          "file": "fonts/Manrope/Manrope-SemiBold.woff",
          "mtimeMs": 1665842560000,
          "ctimeMs": 1665842625614.467,
          "date": "2022-10-15T14:07:34.549Z"
        },
        {
          "file": "fonts/Manrope/Manrope-SemiBold.woff2",
          "mtimeMs": 1665842560000,
          "ctimeMs": 1665842625614.374,
          "date": "2022-10-15T14:07:34.712Z"
        },
        {
          "file": "fonts/Manrope/demo.html",
          "mtimeMs": 1665842560000,
          "ctimeMs": 1665842625614.6099,
          "date": "2022-10-15T14:07:34.845Z"
        },
        {
          "file": "fonts/Manrope/stylesheet.css",
          "mtimeMs": 1665842560000,
          "ctimeMs": 1665842625614.5254,
          "date": "2022-10-15T14:07:34.963Z"
        },
        {
          "file": "favicon.ico",
          "mtimeMs": 1665834690000,
          "ctimeMs": 1665845545318.3506,
          "date": "2022-10-15T18:10:48.923Z"
        },
        {
          "file": "css/fancybox.min.css",
          "mtimeMs": 1665843159698.4775,
          "ctimeMs": 1665843159698.7588,
          "date": "2022-10-15T18:10:49.088Z"
        },
        {
          "file": "fonts/PTAstraSerif/PTAstraSerif-Italic.eot",
          "mtimeMs": 1665842608000,
          "ctimeMs": 1665842644625.6187,
          "date": "2022-10-15T18:10:51.687Z"
        },
        {
          "file": "fonts/PTAstraSerif/PTAstraSerif-Italic.ttf",
          "mtimeMs": 1665842608000,
          "ctimeMs": 1665842644625.5645,
          "date": "2022-10-15T18:10:51.904Z"
        },
        {
          "file": "fonts/PTAstraSerif/PTAstraSerif-Italic.woff",
          "mtimeMs": 1665842608000,
          "ctimeMs": 1665842644625.5073,
          "date": "2022-10-15T18:10:52.123Z"
        },
        {
          "file": "fonts/PTAstraSerif/PTAstraSerif-Italic.woff2",
          "mtimeMs": 1665842608000,
          "ctimeMs": 1665842644625.4756,
          "date": "2022-10-15T18:10:52.321Z"
        },
        {
          "file": "fonts/PTAstraSerif/demo.html",
          "mtimeMs": 1665842608000,
          "ctimeMs": 1665842644625.5938,
          "date": "2022-10-15T18:10:52.487Z"
        },
        {
          "file": "fonts/PTAstraSerif/stylesheet.css",
          "mtimeMs": 1665842608000,
          "ctimeMs": 1665842644625.535,
          "date": "2022-10-15T18:10:52.622Z"
        },
        {
          "file": "img/adress.png",
          "mtimeMs": 1665847195276.2913,
          "ctimeMs": 1665847265285.2036,
          "date": "2022-10-15T18:11:04.569Z"
        },
        {
          "file": "img/logo_dark.png",
          "mtimeMs": 1665678677672.4038,
          "ctimeMs": 1665847291508.9143,
          "date": "2022-10-15T18:11:05.035Z"
        },
        {
          "file": "img/logo_footer.png",
          "mtimeMs": 1665853241749.9622,
          "ctimeMs": 1665853274440.3027,
          "date": "2022-10-15T18:11:05.180Z"
        },
        {
          "file": "js/aos.js",
          "mtimeMs": 1665843027056.524,
          "ctimeMs": 1665843027056.903,
          "date": "2022-10-15T18:11:05.328Z"
        },
        {
          "file": "js/fancybox.min.js",
          "mtimeMs": 1665843024053.3472,
          "ctimeMs": 1665843024053.643,
          "date": "2022-10-15T18:11:05.519Z"
        },
        {
          "file": "js/jquery.maskedinput.min.js",
          "mtimeMs": 1665843069306.2102,
          "ctimeMs": 1665843069306.4495,
          "date": "2022-10-15T18:11:05.646Z"
        },
        {
          "file": "img/ch.png",
          "mtimeMs": 1665907086967.6052,
          "ctimeMs": 1665907190084.7744,
          "date": "2022-10-16T08:08:21.043Z"
        },
        {
          "file": "img/firstscreen.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1665907530276.344,
          "date": "2022-10-16T08:08:21.192Z"
        },
        {
          "file": "img/firstscreen_m.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1665907530278.2083,
          "date": "2022-10-16T08:08:21.327Z"
        },
        {
          "file": "img/bg_1.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1665914957911.7275,
          "date": "2022-10-16T14:40:08.181Z"
        },
        {
          "file": "img/bg_2.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1665914957900.445,
          "date": "2022-10-16T14:40:08.333Z"
        },
        {
          "file": "img/bg_3.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1665914957898.0303,
          "date": "2022-10-16T14:40:08.468Z"
        },
        {
          "file": "img/persone_1.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1665914957908.422,
          "date": "2022-10-16T14:40:08.602Z"
        },
        {
          "file": "img/persone_1_m.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1665914957913.2063,
          "date": "2022-10-16T14:40:08.705Z"
        },
        {
          "file": "img/persone_2.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1665914957904.7168,
          "date": "2022-10-16T14:40:08.848Z"
        },
        {
          "file": "img/persone_2_m.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1665914957902.5188,
          "date": "2022-10-16T14:40:08.948Z"
        },
        {
          "file": "img/persone_3.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1665914957906.5957,
          "date": "2022-10-16T14:40:09.090Z"
        },
        {
          "file": "img/persone_3_m.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1665914957910.1714,
          "date": "2022-10-16T14:40:09.198Z"
        },
        {
          "file": "img/project_1.webp",
          "mtimeMs": 1665923728000,
          "ctimeMs": 1665934554228.9521,
          "date": "2022-10-16T16:19:44.830Z"
        },
        {
          "file": "img/project_2.webp",
          "mtimeMs": 1665923728000,
          "ctimeMs": 1665934554230.8647,
          "date": "2022-10-16T16:19:44.955Z"
        },
        {
          "file": "img/project_3.webp",
          "mtimeMs": 1665923728000,
          "ctimeMs": 1665934554232.6172,
          "date": "2022-10-16T16:19:45.086Z"
        },
        {
          "file": "img/project_4.webp",
          "mtimeMs": 1665923728000,
          "ctimeMs": 1665935433008.1912,
          "date": "2022-10-16T16:19:45.213Z"
        },
        {
          "file": "img/project_5.webp",
          "mtimeMs": 1665923728000,
          "ctimeMs": 1665934554234.1636,
          "date": "2022-10-16T16:19:45.327Z"
        },
        {
          "file": "img/project_6.webp",
          "mtimeMs": 1665923728000,
          "ctimeMs": 1665934554235.6104,
          "date": "2022-10-16T16:19:45.452Z"
        },
        {
          "file": "img/cat_1.webp",
          "mtimeMs": 1665927646000,
          "ctimeMs": 1665938462358.4338,
          "date": "2022-10-16T19:50:13.626Z"
        },
        {
          "file": "img/cat_2.webp",
          "mtimeMs": 1665927646000,
          "ctimeMs": 1665938462360.9558,
          "date": "2022-10-16T19:50:13.745Z"
        },
        {
          "file": "img/cat_3.webp",
          "mtimeMs": 1665927646000,
          "ctimeMs": 1665938462363.5757,
          "date": "2022-10-16T19:50:13.873Z"
        },
        {
          "file": "img/cat_4.webp",
          "mtimeMs": 1665927646000,
          "ctimeMs": 1665938462365.6782,
          "date": "2022-10-16T19:50:13.993Z"
        },
        {
          "file": "img/cat_5.webp",
          "mtimeMs": 1665927646000,
          "ctimeMs": 1665938462367.4,
          "date": "2022-10-16T19:50:14.116Z"
        },
        {
          "file": "img/cat_6.webp",
          "mtimeMs": 1665927646000,
          "ctimeMs": 1665938462368.9768,
          "date": "2022-10-16T19:50:14.246Z"
        },
        {
          "file": "img/offer.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1665940823242.1506,
          "date": "2022-10-16T19:50:14.402Z"
        },
        {
          "file": "img/offer_m.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1665940823240.106,
          "date": "2022-10-16T19:50:14.508Z"
        },
        {
          "file": "img/p.png",
          "mtimeMs": 1665940567009.4094,
          "ctimeMs": 1665940602132.2292,
          "date": "2022-10-16T19:50:14.612Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "./css/style.css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "./"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": []
  }
}
