{
  "version": "7",
  "about": "This is a Prepros (https://prepros.io) configuration file. You can commit this file to a git repo to backup and sync project configurations.",
  "config": {
    "proxy": {
      "enable": false,
      "target": "",
      "useLocalAssets": false
    },
    "reload": {
      "enable": true,
      "delay": 0,
      "animate": true,
      "afterUpload": false
    },
    "sync": {
      "enable": false,
      "mouse": true,
      "keyboard": true,
      "form": true,
      "scroll": true
    },
    "watcher": {
      "enable": true,
      "maxFiles": 2000,
      "usePolling": false,
      "pollingInterval": 500,
      "extensions": [
        ".html",
        ".htm",
        ".php"
      ],
      "ignore": {
        "patterns": [
          ".*",
          "wp-admin",
          "wp-includes",
          "node_modules",
          "Prepros Export",
          "bower_components"
        ],
        "exceptions": []
      }
    },
    "exporter": {
      "ignore": {
        "patterns": [
          ".*",
          "desktop.ini",
          "prepros.cfg",
          "node_modules",
          "Prepros Export",
          "prepros.config",
          "prepros-6.config",
          "*-original.jpg",
          "*-original.jpeg",
          "*-original.png",
          "*-original.svg",
          "*.scss",
          "*.sass",
          "*.less",
          "*.pug",
          "*.jade",
          "*.styl",
          "*.haml",
          "*.slim",
          "*.coffee",
          "*.kit",
          "*.turf",
          "*.ts"
        ],
        "exceptions": []
      }
    },
    "uploader": {
      "remotePath": "",
      "timeout": 20000,
      "autoUpload": true,
      "connectionType": "ftp",
      "history": [
        {
          "file": "index.html",
          "mtimeMs": 1666606347024.2913,
          "ctimeMs": 1666606347024.2913,
          "date": "2022-10-24T10:12:27.437Z"
        },
        {
          "file": "send.php",
          "mtimeMs": 1666445081353.3745,
          "ctimeMs": 1666445081353.3745,
          "date": "2022-10-22T13:24:41.663Z"
        },
        {
          "file": "css/style.css",
          "mtimeMs": 1666607246306.1125,
          "ctimeMs": 1666607246306.1125,
          "date": "2022-10-24T10:27:26.639Z"
        },
        {
          "file": "fonts/icon/Read Me.txt",
          "mtimeMs": 1665679704000,
          "ctimeMs": 1665844607930.652,
          "date": "2022-10-22T12:50:49.539Z"
        },
        {
          "file": "fonts/icon/demo.html",
          "mtimeMs": 1665679704000,
          "ctimeMs": 1665905138136.0308,
          "date": "2022-10-22T12:50:49.764Z"
        },
        {
          "file": "fonts/icon/selection.json",
          "mtimeMs": 1665679704000,
          "ctimeMs": 1665844607928.9302,
          "date": "2022-10-22T12:50:49.992Z"
        },
        {
          "file": "fonts/icon/style.css",
          "mtimeMs": 1665844608254.5747,
          "ctimeMs": 1665844608254.5747,
          "date": "2022-10-22T12:50:50.198Z"
        },
        {
          "file": "fonts/icon/demo-files/demo.css",
          "mtimeMs": 1665679704000,
          "ctimeMs": 1665844607922.7314,
          "date": "2022-10-22T12:50:50.438Z"
        },
        {
          "file": "fonts/icon/demo-files/demo.js",
          "mtimeMs": 1665679704000,
          "ctimeMs": 1665844607924.4573,
          "date": "2022-10-22T12:50:50.700Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.eot",
          "mtimeMs": 1665679704000,
          "ctimeMs": 1665844607936.9446,
          "date": "2022-10-22T12:50:50.964Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.svg",
          "mtimeMs": 1665679704000,
          "ctimeMs": 1665844607938.0295,
          "date": "2022-10-22T12:50:51.221Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.ttf",
          "mtimeMs": 1665679704000,
          "ctimeMs": 1665844607934.103,
          "date": "2022-10-22T12:50:51.457Z"
        },
        {
          "file": "fonts/icon/fonts/icomoon.woff",
          "mtimeMs": 1665679704000,
          "ctimeMs": 1665844607935.502,
          "date": "2022-10-22T12:50:51.703Z"
        },
        {
          "file": "img/logo.png",
          "mtimeMs": 1665678772628.7253,
          "ctimeMs": 1665844632134.333,
          "date": "2022-10-22T12:51:03.241Z"
        },
        {
          "file": "js/form.js",
          "mtimeMs": 1666608113959.1848,
          "ctimeMs": 1666608113959.1848,
          "date": "2022-10-24T10:41:54.294Z"
        },
        {
          "file": "js/function.js",
          "mtimeMs": 1666608125737.8816,
          "ctimeMs": 1666608125737.8816,
          "date": "2022-10-24T10:42:06.068Z"
        },
        {
          "file": "js/jquery.js",
          "mtimeMs": 1640906772000,
          "ctimeMs": 1664977922030.6157,
          "date": "2022-10-22T12:51:30.206Z"
        },
        {
          "file": "js/modal.js",
          "mtimeMs": 1640906772000,
          "ctimeMs": 1664977922028.7007,
          "date": "2022-10-22T12:51:30.606Z"
        },
        {
          "file": "fonts/Manrope/Manrope-Regular.eot",
          "mtimeMs": 1666185630000,
          "ctimeMs": 1666185657897.6995,
          "date": "2022-10-22T12:50:42.804Z"
        },
        {
          "file": "fonts/Manrope/Manrope-Regular.ttf",
          "mtimeMs": 1666185630000,
          "ctimeMs": 1666185657897.5188,
          "date": "2022-10-22T12:50:43.107Z"
        },
        {
          "file": "fonts/Manrope/Manrope-Regular.woff",
          "mtimeMs": 1666185630000,
          "ctimeMs": 1666185657897.4583,
          "date": "2022-10-22T12:50:43.368Z"
        },
        {
          "file": "fonts/Manrope/Manrope-Regular.woff2",
          "mtimeMs": 1666185630000,
          "ctimeMs": 1666185657897.078,
          "date": "2022-10-22T12:50:43.630Z"
        },
        {
          "file": "fonts/Manrope/Manrope-SemiBold.eot",
          "mtimeMs": 1666185630000,
          "ctimeMs": 1666185657897.0457,
          "date": "2022-10-22T12:50:43.955Z"
        },
        {
          "file": "fonts/Manrope/Manrope-SemiBold.ttf",
          "mtimeMs": 1666185630000,
          "ctimeMs": 1666185657897.255,
          "date": "2022-10-22T12:50:44.879Z"
        },
        {
          "file": "fonts/Manrope/Manrope-SemiBold.woff",
          "mtimeMs": 1666185630000,
          "ctimeMs": 1666185657897.226,
          "date": "2022-10-22T12:50:45.146Z"
        },
        {
          "file": "fonts/Manrope/Manrope-SemiBold.woff2",
          "mtimeMs": 1666185630000,
          "ctimeMs": 1666185657896.9956,
          "date": "2022-10-22T12:50:45.434Z"
        },
        {
          "file": "fonts/Manrope/demo.html",
          "mtimeMs": 1666185630000,
          "ctimeMs": 1666185657897.67,
          "date": "2022-10-22T12:50:45.699Z"
        },
        {
          "file": "fonts/Manrope/stylesheet.css",
          "mtimeMs": 1666185630000,
          "ctimeMs": 1666185657897.3992,
          "date": "2022-10-22T12:50:45.940Z"
        },
        {
          "file": "favicon.ico",
          "mtimeMs": 1665834690000,
          "ctimeMs": 1665845545318.3506,
          "date": "2022-10-22T12:50:32.615Z"
        },
        {
          "file": "css/fancybox.min.css",
          "mtimeMs": 1665843159698.4775,
          "ctimeMs": 1665843159698.7588,
          "date": "2022-10-22T12:50:33.853Z"
        },
        {
          "file": "fonts/PTAstraSerif/PTAstraSerif-Italic.eot",
          "mtimeMs": 1665842608000,
          "ctimeMs": 1665842644625.6187,
          "date": "2022-10-22T12:50:46.271Z"
        },
        {
          "file": "fonts/PTAstraSerif/PTAstraSerif-Italic.ttf",
          "mtimeMs": 1665842608000,
          "ctimeMs": 1665842644625.5645,
          "date": "2022-10-22T12:50:46.556Z"
        },
        {
          "file": "fonts/PTAstraSerif/PTAstraSerif-Italic.woff",
          "mtimeMs": 1665842608000,
          "ctimeMs": 1665842644625.5073,
          "date": "2022-10-22T12:50:46.968Z"
        },
        {
          "file": "fonts/PTAstraSerif/PTAstraSerif-Italic.woff2",
          "mtimeMs": 1665842608000,
          "ctimeMs": 1665842644625.4756,
          "date": "2022-10-22T12:50:47.242Z"
        },
        {
          "file": "fonts/PTAstraSerif/demo.html",
          "mtimeMs": 1665842608000,
          "ctimeMs": 1665842644625.5938,
          "date": "2022-10-22T12:50:47.475Z"
        },
        {
          "file": "fonts/PTAstraSerif/stylesheet.css",
          "mtimeMs": 1665842608000,
          "ctimeMs": 1665842644625.535,
          "date": "2022-10-22T12:50:47.691Z"
        },
        {
          "file": "img/adress.png",
          "mtimeMs": 1665847195276.2913,
          "ctimeMs": 1665847265285.2036,
          "date": "2022-10-22T12:50:51.907Z"
        },
        {
          "file": "img/logo_dark.png",
          "mtimeMs": 1665678677672.4038,
          "ctimeMs": 1665847291508.9143,
          "date": "2022-10-22T12:51:03.439Z"
        },
        {
          "file": "img/logo_footer.png",
          "mtimeMs": 1665853241749.9622,
          "ctimeMs": 1665853274440.3027,
          "date": "2022-10-22T12:51:03.657Z"
        },
        {
          "file": "js/aos.js",
          "mtimeMs": 1665843027056.524,
          "ctimeMs": 1665843027056.903,
          "date": "2022-10-22T12:51:29.271Z"
        },
        {
          "file": "js/fancybox.min.js",
          "mtimeMs": 1665843024053.3472,
          "ctimeMs": 1665843024053.643,
          "date": "2022-10-22T12:51:29.554Z"
        },
        {
          "file": "js/jquery.maskedinput.min.js",
          "mtimeMs": 1665843069306.2102,
          "ctimeMs": 1665843069306.4495,
          "date": "2022-10-22T12:51:30.391Z"
        },
        {
          "file": "img/ch.png",
          "mtimeMs": 1665907086967.6052,
          "ctimeMs": 1665907190084.7744,
          "date": "2022-10-22T12:50:58.177Z"
        },
        {
          "file": "img/firstscreen.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1665907530276.344,
          "date": "2022-10-22T12:50:59.902Z"
        },
        {
          "file": "img/firstscreen_m.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1665907530278.2083,
          "date": "2022-10-22T12:51:01.489Z"
        },
        {
          "file": "img/bg_1.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1665914957911.7275,
          "date": "2022-10-22T12:50:55.213Z"
        },
        {
          "file": "img/bg_2.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1665914957900.445,
          "date": "2022-10-22T12:50:55.440Z"
        },
        {
          "file": "img/bg_3.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1665914957898.0303,
          "date": "2022-10-22T12:50:55.692Z"
        },
        {
          "file": "img/persone_1.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1665914957908.422,
          "date": "2022-10-22T12:51:05.387Z"
        },
        {
          "file": "img/persone_2.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1665914957904.7168,
          "date": "2022-10-22T12:51:05.944Z"
        },
        {
          "file": "img/persone_3.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1665914957906.5957,
          "date": "2022-10-22T12:51:06.493Z"
        },
        {
          "file": "img/project_1.webp",
          "mtimeMs": 1665923728000,
          "ctimeMs": 1665934554228.9521,
          "date": "2022-10-22T12:51:16.634Z"
        },
        {
          "file": "img/project_2.webp",
          "mtimeMs": 1665923728000,
          "ctimeMs": 1665934554230.8647,
          "date": "2022-10-22T12:51:17.328Z"
        },
        {
          "file": "img/project_3.webp",
          "mtimeMs": 1665923728000,
          "ctimeMs": 1665934554232.6172,
          "date": "2022-10-22T12:51:17.960Z"
        },
        {
          "file": "img/project_4.webp",
          "mtimeMs": 1665923728000,
          "ctimeMs": 1665935433008.1912,
          "date": "2022-10-22T12:51:18.677Z"
        },
        {
          "file": "img/project_5.webp",
          "mtimeMs": 1665923728000,
          "ctimeMs": 1665934554234.1636,
          "date": "2022-10-22T12:51:19.446Z"
        },
        {
          "file": "img/project_6.webp",
          "mtimeMs": 1665923728000,
          "ctimeMs": 1665934554235.6104,
          "date": "2022-10-22T12:51:24.997Z"
        },
        {
          "file": "img/cat_1.webp",
          "mtimeMs": 1665927646000,
          "ctimeMs": 1665938462358.4338,
          "date": "2022-10-22T12:50:56.893Z"
        },
        {
          "file": "img/cat_2.webp",
          "mtimeMs": 1665927646000,
          "ctimeMs": 1665938462360.9558,
          "date": "2022-10-22T12:50:57.107Z"
        },
        {
          "file": "img/cat_3.webp",
          "mtimeMs": 1665927646000,
          "ctimeMs": 1665938462363.5757,
          "date": "2022-10-22T12:50:57.325Z"
        },
        {
          "file": "img/cat_4.webp",
          "mtimeMs": 1665927646000,
          "ctimeMs": 1665938462365.6782,
          "date": "2022-10-22T12:50:57.525Z"
        },
        {
          "file": "img/cat_5.webp",
          "mtimeMs": 1665927646000,
          "ctimeMs": 1665938462367.4,
          "date": "2022-10-22T12:50:57.744Z"
        },
        {
          "file": "img/cat_6.webp",
          "mtimeMs": 1665927646000,
          "ctimeMs": 1665938462368.9768,
          "date": "2022-10-22T12:50:57.996Z"
        },
        {
          "file": "img/offer.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1665940823242.1506,
          "date": "2022-10-22T12:51:04.271Z"
        },
        {
          "file": "img/p.png",
          "mtimeMs": 1665940567009.4094,
          "ctimeMs": 1665940602132.2292,
          "date": "2022-10-22T12:51:04.745Z"
        },
        {
          "file": "img/p.svg",
          "mtimeMs": 1665944248673.2053,
          "ctimeMs": 1666105046499.3591,
          "date": "2022-10-22T12:51:04.929Z"
        },
        {
          "file": "img/people.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1666115412383.1426,
          "date": "2022-10-22T12:51:05.166Z"
        },
        {
          "file": "img/phone.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1666115412379.549,
          "date": "2022-10-22T12:51:07.023Z"
        },
        {
          "file": "img/screenshots_1.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1666115412388.0347,
          "date": "2022-10-22T12:51:25.210Z"
        },
        {
          "file": "img/screenshots_2.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1666115412384.765,
          "date": "2022-10-22T12:51:25.438Z"
        },
        {
          "file": "img/screenshots_3.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1666115412386.3271,
          "date": "2022-10-22T12:51:25.631Z"
        },
        {
          "file": "img/screenshots_4.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1666115412381.494,
          "date": "2022-10-22T12:51:25.844Z"
        },
        {
          "file": "img/team_m.jpg",
          "mtimeMs": 1666110792239.4727,
          "ctimeMs": 1666280340345.5117,
          "date": "2022-10-22T12:51:27.738Z"
        },
        {
          "file": "img/bg.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1666182125382.646,
          "date": "2022-10-22T12:50:54.909Z"
        },
        {
          "file": "img/book.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1666169783416.8782,
          "date": "2022-10-22T12:50:56.451Z"
        },
        {
          "file": "img/chair.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1666174631022.249,
          "date": "2022-10-22T12:50:58.646Z"
        },
        {
          "file": "img/play_border.svg",
          "mtimeMs": 1666177102670.5103,
          "ctimeMs": 1666177179189.3464,
          "date": "2022-10-22T12:51:07.211Z"
        },
        {
          "file": "img/sofa.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1666172526458.296,
          "date": "2022-10-22T12:51:26.312Z"
        },
        {
          "file": "img/sofa_m.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1666172526455.2166,
          "date": "2022-10-22T12:51:26.496Z"
        },
        {
          "file": "fonts/Manrope/Manrope-ExtraLight.eot",
          "mtimeMs": 1666185630000,
          "ctimeMs": 1666185657897.37,
          "date": "2022-10-22T12:50:37.428Z"
        },
        {
          "file": "fonts/Manrope/Manrope-ExtraLight.ttf",
          "mtimeMs": 1666185630000,
          "ctimeMs": 1666185657897.5972,
          "date": "2022-10-22T12:50:38.397Z"
        },
        {
          "file": "fonts/Manrope/Manrope-ExtraLight.woff",
          "mtimeMs": 1666185630000,
          "ctimeMs": 1666185657897.2837,
          "date": "2022-10-22T12:50:38.669Z"
        },
        {
          "file": "fonts/Manrope/Manrope-ExtraLight.woff2",
          "mtimeMs": 1666185630000,
          "ctimeMs": 1666185657897.1973,
          "date": "2022-10-22T12:50:38.964Z"
        },
        {
          "file": "fonts/Manrope/Manrope-Light.eot",
          "mtimeMs": 1666185630000,
          "ctimeMs": 1666185657897.429,
          "date": "2022-10-22T12:50:39.292Z"
        },
        {
          "file": "fonts/Manrope/Manrope-Light.ttf",
          "mtimeMs": 1666185630000,
          "ctimeMs": 1666185657897.6382,
          "date": "2022-10-22T12:50:39.587Z"
        },
        {
          "file": "fonts/Manrope/Manrope-Light.woff",
          "mtimeMs": 1666185630000,
          "ctimeMs": 1666185657897.109,
          "date": "2022-10-22T12:50:39.866Z"
        },
        {
          "file": "fonts/Manrope/Manrope-Light.woff2",
          "mtimeMs": 1666185630000,
          "ctimeMs": 1666185657897.341,
          "date": "2022-10-22T12:50:40.139Z"
        },
        {
          "file": "fonts/Manrope/Manrope-Medium.eot",
          "mtimeMs": 1666185628000,
          "ctimeMs": 1666185657897.3125,
          "date": "2022-10-22T12:50:40.946Z"
        },
        {
          "file": "fonts/Manrope/Manrope-Medium.ttf",
          "mtimeMs": 1666185628000,
          "ctimeMs": 1666185657897.1384,
          "date": "2022-10-22T12:50:41.932Z"
        },
        {
          "file": "fonts/Manrope/Manrope-Medium.woff",
          "mtimeMs": 1666185628000,
          "ctimeMs": 1666185657897.1677,
          "date": "2022-10-22T12:50:42.249Z"
        },
        {
          "file": "fonts/Manrope/Manrope-Medium.woff2",
          "mtimeMs": 1666185630000,
          "ctimeMs": 1666185657897.4866,
          "date": "2022-10-22T12:50:42.522Z"
        },
        {
          "file": "img/founder_logo.svg",
          "mtimeMs": 1666184518387.4854,
          "ctimeMs": 1666184611809.1575,
          "date": "2022-10-22T12:51:01.675Z"
        },
        {
          "file": "img/lider.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1666185985431.2048,
          "date": "2022-10-22T12:51:02.445Z"
        },
        {
          "file": "img/lider_m.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1666185985433.3423,
          "date": "2022-10-22T12:51:03.012Z"
        },
        {
          "file": "img/bg.jpg",
          "mtimeMs": 1666211855183.9956,
          "ctimeMs": 1666211908237.5872,
          "date": "2022-10-22T12:50:54.659Z"
        },
        {
          "file": "img/bg_last.jpg",
          "mtimeMs": 1666212156539.3652,
          "ctimeMs": 1666212177835.1123,
          "date": "2022-10-22T12:50:55.976Z"
        },
        {
          "file": "img/bg_last.webp",
          "mtimeMs": 1665673746000,
          "ctimeMs": 1666194968265.3435,
          "date": "2022-10-22T12:50:56.195Z"
        },
        {
          "file": "img/chair.png",
          "mtimeMs": 1665682454801.0874,
          "ctimeMs": 1666212265139.355,
          "date": "2022-10-22T12:50:58.435Z"
        },
        {
          "file": "img/firstscreen.jpg",
          "mtimeMs": 1666211365916.5083,
          "ctimeMs": 1666211595671.6125,
          "date": "2022-10-22T12:50:59.146Z"
        },
        {
          "file": "img/firstscreen_m.jpg",
          "mtimeMs": 1666211569595.6558,
          "ctimeMs": 1666211595697.504,
          "date": "2022-10-22T12:51:01.264Z"
        },
        {
          "file": "img/lider.jpg",
          "mtimeMs": 1666211984541.6707,
          "ctimeMs": 1666212092758.053,
          "date": "2022-10-22T12:51:02.150Z"
        },
        {
          "file": "img/lider_m.jpg",
          "mtimeMs": 1666212071617.7747,
          "ctimeMs": 1666212092755.3804,
          "date": "2022-10-22T12:51:02.757Z"
        },
        {
          "file": "img/team.jpg",
          "mtimeMs": 1666211746273.6782,
          "ctimeMs": 1666211793369.3188,
          "date": "2022-10-22T12:51:27.491Z"
        },
        {
          "file": "thank/index.html",
          "mtimeMs": 1666605662893.8855,
          "ctimeMs": 1666605662893.8855,
          "date": "2022-10-24T10:01:03.208Z"
        },
        {
          "file": "layout/header_thanks.html",
          "mtimeMs": 1666254028892.6702,
          "ctimeMs": 1666254028892.6702,
          "date": "2022-10-22T12:51:30.966Z"
        },
        {
          "file": "layout/footer_thanks.html",
          "mtimeMs": 1666257072637.7441,
          "ctimeMs": 1666257072637.7441,
          "date": "2022-10-22T12:51:30.778Z"
        },
        {
          "file": "img/logo_thank.png",
          "mtimeMs": 1666254159304.3748,
          "ctimeMs": 1666254186698.4688,
          "date": "2022-10-22T12:51:04.038Z"
        },
        {
          "file": "img/thank.jpg",
          "mtimeMs": 1666251364113.8955,
          "ctimeMs": 1666251537190.8977,
          "date": "2022-10-22T12:51:28.255Z"
        },
        {
          "file": "img/thank_m.jpg",
          "mtimeMs": 1666251384591.6006,
          "ctimeMs": 1666251537193.023,
          "date": "2022-10-22T12:51:29.061Z"
        },
        {
          "file": "img/logo_pop_up.svg",
          "mtimeMs": 1666265489698.0752,
          "ctimeMs": 1666265525706.4043,
          "date": "2022-10-22T12:51:03.843Z"
        },
        {
          "file": "img/pop_1.png",
          "mtimeMs": 1665682733674.1323,
          "ctimeMs": 1666268009150.2156,
          "date": "2022-10-22T12:51:07.584Z"
        },
        {
          "file": "img/pop_1.webp",
          "mtimeMs": 1666267827142.2651,
          "ctimeMs": 1666267838074.5686,
          "date": "2022-10-22T12:51:09.332Z"
        },
        {
          "file": "img/pop_1_m.png",
          "mtimeMs": 1666265737933.6338,
          "ctimeMs": 1666266387261.1416,
          "date": "2022-10-22T12:51:09.644Z"
        },
        {
          "file": "img/pop_1_m.webp",
          "mtimeMs": 1666268696966.5703,
          "ctimeMs": 1666268704573.3892,
          "date": "2022-10-22T12:51:09.907Z"
        },
        {
          "file": "img/pop_2.png",
          "mtimeMs": 1665682766081.377,
          "ctimeMs": 1666266387255.7305,
          "date": "2022-10-22T12:51:10.230Z"
        },
        {
          "file": "img/pop_2_m.png",
          "mtimeMs": 1666265964262.1575,
          "ctimeMs": 1666266387253.9888,
          "date": "2022-10-22T12:51:13.746Z"
        },
        {
          "file": "img/pop_3.png",
          "mtimeMs": 1665682793103.7996,
          "ctimeMs": 1666266387249.3687,
          "date": "2022-10-22T12:51:14.418Z"
        },
        {
          "file": "img/pop_3_m.png",
          "mtimeMs": 1665682802627.7363,
          "ctimeMs": 1666266387251.9924,
          "date": "2022-10-22T12:51:14.946Z"
        },
        {
          "file": "img/pop_bg_1.jpg",
          "mtimeMs": 1666266304784.103,
          "ctimeMs": 1666266387262.9219,
          "date": "2022-10-22T12:51:15.372Z"
        },
        {
          "file": "img/pop_bg_2.jpg",
          "mtimeMs": 1666266301832.2017,
          "ctimeMs": 1666266387257.4294,
          "date": "2022-10-22T12:51:15.544Z"
        },
        {
          "file": "img/pop_bg_3.jpg",
          "mtimeMs": 1666266307524.4524,
          "ctimeMs": 1666266387259.0764,
          "date": "2022-10-22T12:51:15.723Z"
        },
        {
          "file": "img/pop_2.webp",
          "mtimeMs": 1666273272625.7773,
          "ctimeMs": 1666273351093.6663,
          "date": "2022-10-22T12:51:10.477Z"
        },
        {
          "file": "img/pop_2_m.jpg",
          "mtimeMs": 1666273306663.055,
          "ctimeMs": 1666273351089.3958,
          "date": "2022-10-22T12:51:10.729Z"
        },
        {
          "file": "img/pop_2_m.webp",
          "mtimeMs": 1666274151038.8516,
          "ctimeMs": 1666274172335.7676,
          "date": "2022-10-22T12:51:14.043Z"
        },
        {
          "file": "img/pop_3.webp",
          "mtimeMs": 1666273259130.0784,
          "ctimeMs": 1666273351091.5662,
          "date": "2022-10-22T12:51:14.658Z"
        },
        {
          "file": "img/pop_3_m.webp",
          "mtimeMs": 1666273245618.9766,
          "ctimeMs": 1666273351085.9045,
          "date": "2022-10-22T12:51:15.160Z"
        },
        {
          "file": "css/aos.css",
          "mtimeMs": 1666277241685.4812,
          "ctimeMs": 1666277241685.4812,
          "date": "2022-10-22T12:50:33.583Z"
        },
        {
          "file": "img/book_m.png",
          "mtimeMs": 1666280426576.5747,
          "ctimeMs": 1666280472614.0273,
          "date": "2022-10-22T12:50:56.696Z"
        },
        {
          "file": "img/offer_m.png",
          "mtimeMs": 1666370640342.5034,
          "ctimeMs": 1666372491148.6338,
          "date": "2022-10-22T12:51:04.567Z"
        },
        {
          "file": "img/project_1.jpg",
          "mtimeMs": 1666279901806.9995,
          "ctimeMs": 1666280161168.3813,
          "date": "2022-10-22T12:51:16.159Z"
        },
        {
          "file": "img/project_3.jpg",
          "mtimeMs": 1666279929776.6707,
          "ctimeMs": 1666280161161.777,
          "date": "2022-10-22T12:51:17.726Z"
        },
        {
          "file": "img/project_4.jpg",
          "mtimeMs": 1666279938571.994,
          "ctimeMs": 1666280161164.0793,
          "date": "2022-10-22T12:51:18.465Z"
        },
        {
          "file": "img/project_5.jpg",
          "mtimeMs": 1666279948911.8662,
          "ctimeMs": 1666280161166.2952,
          "date": "2022-10-22T12:51:19.244Z"
        },
        {
          "file": "img/project_6.jpg",
          "mtimeMs": 1666279958455.0195,
          "ctimeMs": 1666280161170.5388,
          "date": "2022-10-22T12:51:24.801Z"
        },
        {
          "file": "img/persone_1_m.png",
          "mtimeMs": 1666370431205.2322,
          "ctimeMs": 1666372117953.706,
          "date": "2022-10-22T12:51:05.704Z"
        },
        {
          "file": "img/persone_2_m.png",
          "mtimeMs": 1666370512452.4475,
          "ctimeMs": 1666372117956.7007,
          "date": "2022-10-22T12:51:06.247Z"
        },
        {
          "file": "img/persone_3_m.png",
          "mtimeMs": 1666370551875.112,
          "ctimeMs": 1666372117958.6904,
          "date": "2022-10-22T12:51:06.806Z"
        },
        {
          "file": "fonts/ViaodaLibre/ViaodaLibre-Regular.eot",
          "mtimeMs": 1666359498000,
          "ctimeMs": 1666372613455.7026,
          "date": "2022-10-22T12:50:47.993Z"
        },
        {
          "file": "fonts/ViaodaLibre/ViaodaLibre-Regular.ttf",
          "mtimeMs": 1666359498000,
          "ctimeMs": 1666372613455.7358,
          "date": "2022-10-22T12:50:48.301Z"
        },
        {
          "file": "fonts/ViaodaLibre/ViaodaLibre-Regular.woff",
          "mtimeMs": 1666359498000,
          "ctimeMs": 1666372613455.7585,
          "date": "2022-10-22T12:50:48.590Z"
        },
        {
          "file": "fonts/ViaodaLibre/ViaodaLibre-Regular.woff2",
          "mtimeMs": 1666359498000,
          "ctimeMs": 1666372613455.6733,
          "date": "2022-10-22T12:50:48.870Z"
        },
        {
          "file": "fonts/ViaodaLibre/demo.html",
          "mtimeMs": 1666359498000,
          "ctimeMs": 1666372613455.8027,
          "date": "2022-10-22T12:50:49.108Z"
        },
        {
          "file": "fonts/ViaodaLibre/stylesheet.css",
          "mtimeMs": 1666359498000,
          "ctimeMs": 1666372613455.7803,
          "date": "2022-10-22T12:50:49.324Z"
        },
        {
          "file": "img/project_2.jpg",
          "mtimeMs": 1666279917089.4924,
          "ctimeMs": 1666443268732.4082,
          "date": "2022-10-22T12:54:34.020Z"
        }
      ]
    },
    "packages": {
      "createPackageLock": true
    },
    "tasks": {
      "autoprefixer": {
        "cascade": true,
        "add": true,
        "remove": true,
        "supports": true,
        "flexbox": true,
        "grid": "autoplace",
        "browsers": [
          "> 2%",
          "not dead"
        ],
        "sourceMap": false
      },
      "babel": {
        "sourceMap": false,
        "presets": {
          "@babel/preset-env": {
            "enable": true,
            "options": {
              "targets": [
                "> 2%",
                "not dead"
              ],
              "preserveImports": false
            }
          },
          "@babel/preset-react": true,
          "@babel/preset-flow": false
        },
        "plugins": {
          "@babel/plugin-proposal-class-properties": false,
          "@babel/plugin-proposal-decorators": {
            "enable": false,
            "options": {
              "decoratorsBeforeExport": true
            }
          },
          "@babel/plugin-proposal-export-namespace-from": false,
          "@babel/plugin-proposal-function-sent": false,
          "@babel/plugin-proposal-nullish-coalescing-operator": false,
          "@babel/plugin-proposal-numeric-separator": false,
          "@babel/plugin-proposal-optional-chaining": false,
          "@babel/plugin-proposal-private-methods": false,
          "@babel/plugin-proposal-throw-expressions": false
        },
        "customPresets": [],
        "customPlugins": []
      },
      "bundle-js": {
        "sourceMap": false,
        "exclude": [
          "node_modules",
          "bower_components"
        ],
        "devMode": true,
        "globals": [],
        "externals": [],
        "babel": {
          "enable": true,
          "options": {
            "sourceMap": false,
            "presets": {
              "@babel/preset-env": {
                "enable": true,
                "options": {
                  "targets": [
                    "> 2%",
                    "not dead"
                  ],
                  "preserveImports": false
                }
              },
              "@babel/preset-react": true,
              "@babel/preset-flow": false
            },
            "plugins": {
              "@babel/plugin-proposal-class-properties": false,
              "@babel/plugin-proposal-decorators": {
                "enable": false,
                "options": {
                  "decoratorsBeforeExport": true
                }
              },
              "@babel/plugin-proposal-export-namespace-from": false,
              "@babel/plugin-proposal-function-sent": false,
              "@babel/plugin-proposal-nullish-coalescing-operator": false,
              "@babel/plugin-proposal-numeric-separator": false,
              "@babel/plugin-proposal-optional-chaining": false,
              "@babel/plugin-proposal-private-methods": false,
              "@babel/plugin-proposal-throw-expressions": false
            },
            "customPresets": [],
            "customPlugins": []
          }
        },
        "css": {
          "enable": true
        },
        "fonts": {
          "enable": true
        }
      },
      "coffeescript": {
        "header": false,
        "bare": false,
        "sourceMap": false
      },
      "command": {
        "command": "",
        "rootDir": ""
      },
      "concat-js": {
        "sourceMap": false,
        "rootDir": ""
      },
      "copy": {
        "sourceMap": false
      },
      "dart-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "sourceMap": false
      },
      "haml": {
        "doubleQuoteAttributes": true
      },
      "jpg": {
        "quality": 90
      },
      "less": {
        "javascriptEnabled": false,
        "strictImports": false,
        "insecure": false,
        "math": "always",
        "strictUnits": false,
        "dumpLineNumbers": false,
        "sourceMap": false
      },
      "markdown": {
        "githubFlavored": true,
        "wrapWithHtml": false
      },
      "minify-css": {
        "sourceMap": false
      },
      "minify-html": {
        "caseSensitive": false,
        "collapseBooleanAttributes": true,
        "collapseInlineTagWhitespace": false,
        "collapseWhitespace": true,
        "conservativeCollapse": false,
        "decodeEntities": false,
        "html5": true,
        "includeAutoGeneratedTags": true,
        "keepClosingSlash": false,
        "minifyCSS": true,
        "minifyJS": true,
        "preserveLineBreaks": false,
        "preventAttributesEscaping": false,
        "processConditionalComments": false,
        "removeAttributeQuotes": false,
        "removeComments": true,
        "removeEmptyAttributes": false,
        "removeEmptyElement": false,
        "removeOptionalTags": false,
        "removeRedundantAttributes": false,
        "removeScriptTypeAttributes": false,
        "removeStyleLinkTypeAttributes": false,
        "removeTagWhitespace": false,
        "sortAttributes": false,
        "sortClassName": false,
        "useShortDoctype": true
      },
      "minify-js": {
        "parse": {
          "bare_returns": false
        },
        "compress": {
          "arrows": true,
          "arguments": false,
          "booleans": true,
          "booleans_as_integers": false,
          "collapse_vars": true,
          "comparisons": true,
          "computed_props": true,
          "conditionals": true,
          "dead_code": true,
          "directives": true,
          "drop_console": false,
          "drop_debugger": true,
          "evaluate": true,
          "expression": false,
          "global_defs": [],
          "hoist_funs": false,
          "hoist_props": true,
          "hoist_vars": false,
          "if_return": true,
          "inline": 3,
          "join_vars": true,
          "keep_fargs": true,
          "keep_infinity": false,
          "loops": true,
          "negate_iife": true,
          "properties": true,
          "pure_funcs": [],
          "pure_getters": false,
          "reduce_vars": true,
          "sequences": true,
          "side_effects": true,
          "switches": true,
          "top_retain": [],
          "typeofs": true,
          "unsafe": false,
          "unsafe_arrows": false,
          "unsafe_comps": false,
          "unsafe_Function": false,
          "unsafe_math": false,
          "unsafe_proto": false,
          "unsafe_regexp": false,
          "unsafe_undefined": false,
          "unused": true
        },
        "mangle": {
          "eval": false,
          "reserved": []
        },
        "output": {
          "ascii_only": false,
          "braces": false,
          "comments": "none",
          "inline_script": true,
          "keep_numbers": false,
          "keep_quoted_props": false,
          "preamble": null,
          "quote_keys": false,
          "quote_style": 0,
          "semicolons": true,
          "shebang": true,
          "webkit": false,
          "wrap_iife": false,
          "wrap_func_args": true
        },
        "sourceMap": false,
        "toplevel": false,
        "ie8": false,
        "keep_classnames": false,
        "keep_fnames": false,
        "safari10": false
      },
      "node-sass": {
        "indentType": "space",
        "indentWidth": 2,
        "linefeed": "lf",
        "outputStyle": "expanded",
        "precision": 10,
        "sourceMap": false,
        "sourceComments": false
      },
      "png": {
        "quality": 90
      },
      "pug": {
        "pretty": true
      },
      "slim": {
        "indent": "space",
        "indentSize": 2,
        "pretty": true
      },
      "stylus": {
        "useNib": true,
        "sourceMap": false,
        "linenos": false
      },
      "svg": {
        "cleanupAttrs": true,
        "removeDoctype": true,
        "removeXMLProcInst": true,
        "removeComments": true,
        "removeMetadata": true,
        "removeTitle": true,
        "removeDesc": true,
        "removeUselessDefs": true,
        "removeEditorsNSData": true,
        "removeEmptyAttrs": true,
        "removeHiddenElems": true,
        "removeEmptyText": true,
        "removeEmptyContainers": true,
        "removeViewBox": false,
        "cleanupEnableBackground": true,
        "convertStyleToAttrs": true,
        "convertColors": true,
        "convertPathData": true,
        "convertTransform": true,
        "removeUnknownsAndDefaults": true,
        "removeNonInheritableGroupAttrs": true,
        "removeUselessStrokeAndFill": true,
        "removeUnusedNS": true,
        "cleanupIDs": true,
        "cleanupNumericValues": true,
        "moveElemsAttrsToGroup": true,
        "moveGroupAttrsToElems": true,
        "collapseGroups": true,
        "removeRasterImages": false,
        "mergePaths": true,
        "convertShapeToPath": true,
        "sortAttrs": true,
        "removeDimensions": true
      },
      "turf": {
        "rootDir": ""
      },
      "typescript": {
        "allowJs": false,
        "allowSyntheticDefaultImports": true,
        "allowUmdGlobalAccess": false,
        "allowUnreachableCode": false,
        "allowUnusedLabels": false,
        "alwaysStrict": false,
        "charset": "utf8",
        "checkJs": false,
        "declaration": false,
        "disableSizeLimit": false,
        "downlevelIteration": false,
        "emitBOM": false,
        "emitDecoratorMetadata": false,
        "experimentalDecorators": false,
        "forceConsistentCasingInFileNames": false,
        "importHelpers": false,
        "jsx": "React",
        "keyofStringsOnly": false,
        "lib": [],
        "maxNodeModuleJsDepth": 0,
        "module": "ES2015",
        "moduleResolution": "NodeJs",
        "newLine": "LineFeed",
        "noFallthroughCasesInSwitch": false,
        "noImplicitAny": false,
        "noImplicitReturns": false,
        "noImplicitThis": false,
        "noStrictGenericChecks": false,
        "noUnusedLocals": false,
        "noUnusedParameters": false,
        "noImplicitUseStrict": false,
        "noLib": false,
        "noResolve": false,
        "preserveConstEnums": false,
        "jsxFactory": "React.createElement",
        "removeComments": false,
        "skipLibCheck": false,
        "sourceMap": false,
        "strict": false,
        "strictFunctionTypes": false,
        "strictBindCallApply": false,
        "strictNullChecks": false,
        "strictPropertyInitialization": false,
        "suppressExcessPropertyErrors": false,
        "suppressImplicitAnyIndexErrors": false,
        "target": "ES3",
        "resolveJsonModule": false,
        "esModuleInterop": false,
        "useDefineForClassFields": false
      }
    },
    "fileTypes": {
      "sass": {
        "extensions": [
          ".scss",
          ".sass"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "dart-sass",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "scss",
              "replaceWith": "css"
            },
            {
              "segment": "sass",
              "replaceWith": "css"
            }
          ]
        }
      },
      "less": {
        "extensions": [
          ".less"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "less",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "less",
              "replaceWith": "./css/style.css"
            }
          ]
        }
      },
      "pug": {
        "extensions": [
          ".pug",
          ".jade"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "pug",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "pug",
              "replaceWith": "./"
            }
          ]
        }
      },
      "css": {
        "extensions": [
          ".css"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": true
          }
        ],
        "output": {
          "extension": ".css",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "javascript": {
        "extensions": [
          ".js",
          ".jsx"
        ],
        "autoCompile": false,
        "sourceMap": false,
        "tasks": [
          {
            "task": "copy",
            "enable": true
          },
          {
            "task": "concat-js",
            "enable": false
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": true
          }
        ],
        "output": {
          "extension": ".js",
          "type": "SOURCE_RELATIVE",
          "relativePath": "",
          "suffix": "-dist",
          "alwaysSuffix": false
        }
      },
      "stylus": {
        "extensions": [
          ".styl"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "stylus",
            "enable": true
          },
          {
            "task": "autoprefixer",
            "enable": true
          },
          {
            "task": "minify-css",
            "enable": false
          }
        ],
        "output": {
          "extension": ".css",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "stylus",
              "replaceWith": "css"
            },
            {
              "segment": "styl",
              "replaceWith": "css"
            }
          ]
        }
      },
      "markdown": {
        "extensions": [
          ".md",
          ".markdown",
          ".mkd"
        ],
        "autoCompile": false,
        "tasks": [
          {
            "task": "markdown",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "markdown",
              "replaceWith": "html"
            }
          ]
        }
      },
      "haml": {
        "extensions": [
          ".haml"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "haml",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "haml",
              "replaceWith": "html"
            }
          ]
        }
      },
      "slim": {
        "extensions": [
          ".slim"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "slim",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "slim",
              "replaceWith": "html"
            }
          ]
        }
      },
      "coffeescript": {
        "extensions": [
          ".coffee"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "coffeescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "coffee-script",
              "replaceWith": "js"
            },
            {
              "segment": "coffeescript",
              "replaceWith": "js"
            },
            {
              "segment": "coffee",
              "replaceWith": "js"
            }
          ]
        }
      },
      "turf": {
        "extensions": [
          ".turf",
          ".kit"
        ],
        "autoCompile": true,
        "tasks": [
          {
            "task": "turf",
            "enable": true
          },
          {
            "task": "minify-html",
            "enable": false
          }
        ],
        "output": {
          "extension": ".html",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "turf",
              "replaceWith": "html"
            }
          ]
        }
      },
      "typescript": {
        "extensions": [
          ".ts",
          ".tsx"
        ],
        "autoCompile": true,
        "sourceMap": false,
        "tasks": [
          {
            "task": "typescript",
            "enable": true
          },
          {
            "task": "babel",
            "enable": false
          },
          {
            "task": "bundle-js",
            "enable": false
          },
          {
            "task": "minify-js",
            "enable": false
          }
        ],
        "output": {
          "extension": ".js",
          "type": "REPLACE_SEGMENTS",
          "segments": [
            {
              "segment": "typescript",
              "replaceWith": "js"
            },
            {
              "segment": "ts",
              "replaceWith": "js"
            }
          ]
        }
      },
      "jpg": {
        "extensions": [
          ".jpg",
          ".jpeg"
        ],
        "tasks": [
          {
            "task": "jpg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".jpg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "png": {
        "extensions": [
          ".png"
        ],
        "tasks": [
          {
            "task": "png",
            "enable": true
          }
        ],
        "output": {
          "extension": ".png",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      },
      "svg": {
        "extensions": [
          ".svg"
        ],
        "tasks": [
          {
            "task": "svg",
            "enable": true
          }
        ],
        "output": {
          "extension": ".svg",
          "type": "SOURCE_RELATIVE",
          "relativePath": ""
        }
      }
    },
    "files": []
  }
}
