// Style for button and pseudo button for input and link

.btn {
	color: $color_white;
	font-family: $main_font_family;
	font-weight: 600;
	border: none;
	outline: none;
	text-decoration: none;
	display: inline-block;
	background-color: $color_danger;
	text-align: center;
	text-transform: uppercase;
	max-width: 100%;
	cursor: pointer;
	border-radius: 7.125em;
	transition-property: background;
	transition: 0.3s;

	font-size: 0.75em;
	padding: 1.584em 2em;
	letter-spacing: 0.1em;

	@media (min-width: 501px) {
		font-size: 0.875em;
		padding: 1.4286em 2em;
		letter-spacing: 0.125em;
	}

	&:hover {
		background-color: #7A1B2C;
	}

	&:active {
		background-color: $color_success;

	}
}

.btn_border {
	color: #121213;
	font-family: $main_font_family;
	font-weight: 600;
	border: 1px solid $color_danger;
	outline: none;
	text-decoration: none;
	display: inline-block;
	background-color: transparent;
	text-align: center;
	max-width: 100%;
	min-width: 17.5em;
	cursor: pointer;
	border-radius: 7em;
	transition: 0.3s;

	font-size: 0.875em;
	padding: 1.293em 1em;

	@media (min-width: 501px) {
		border-radius: 5em;
		font-size: 1.25em;
		padding: 0.85em 1.25em;
		min-width: 17.5em;

	}

	&:hover {
		background-color: $color_danger;
		color: $color_white;
	}

	&:active {
		background-color: darken($color_danger, 5%);

	}

	&_success {
		border: 1px solid $color_success;

		&:hover {
			background-color: $color_success;
			// color: $color_white;
		}

		&:active {
			background-color: darken($color_success, 5%);

		}
	}
}
