/* Header
 ----------------------------------------------------------------------------- */
.header {
	line-height: 1;
	padding: 0.875em 0;

	position: absolute;
	top: 0;
	left: 0;
	width: 100%;

	@media (min-width: 501px) {
		padding: 1.8125em 0;
		line-height: 1.125;
	}

	&__row {
		@extend .container_center;
		margin: auto;
		position: relative;

		@media (min-width: 501px) {
			position: initial;
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
		}

	}

	&__link {
		text-align: center;
		margin-top: 1em;
		@media (min-width: 501px) {
			margin-top: 0;
			text-align: inherit;
		}

		a {
			text-decoration: none;
			font-size: 0.6875em;
			color: $color_white;
			@media (min-width: 501px) {
				font-size: 0.8125em;

			}

			&:after {
				border-color: rgba($color_white, 0.2);

			}

		}

		i {
			display: inline-block;
			color: rgba($color_white, 0.2);
			transform: rotate(-180deg);
			margin-right: 0.9em;
			font-size: 0.65em;
			@media (min-width: 501px) {
				font-size: 0.85em;

			}
		}
	}

}

.logo {
	display: block;

	width: 10em;
	height: 2.6875em;
	margin: 0 auto 0.5625em;

	@media (min-width: 501px) {
		margin: 0 0 0.6875em;
	}

	&__descpiption {
		width: 16em;
		margin: 0 auto;
		text-align: center;

		span {
			font-size: 0.6875em;
		}

		@media (min-width: 501px) {
			width: 13em;
			margin: 0;
			text-align: left;

			span {
				font-size: 0.8125em;
			}

		}
	}
}

@media (min-width: 501px) {
	.adress {
		display: flex;
		align-items: center;

		&__img {
			width: 3.4375em;
			height: 3.4375em;
			margin-right: 0.9375em;
		}

		&__text {
			width: 10.625em;

			span {
				font-size: 0.8125em;
			}
		}

	}
}

@media (min-width: 501px) {
	.callback {
		&__label {
			width: 11em;
			margin-bottom: 0.125em;

			span {
				font-size: 0.8125em;
			}
		}

		&__link {
			a {
				text-decoration: none;
				color: $color_success;

				&:hover {
					color: $color_danger;

				}
			}
		}

	}
}

.phone {
	position: absolute;
	top: 0;
	right: 2.5em;

	@media (min-width: 501px) {
		position: initial;
		top: auto;
		right: auto;
	}

	&__link {
		text-decoration: none;
		color: $main_color;

		&:hover {
			color: $color_danger;
		}

	}

	&__number {
		font-size: 1.5em;
	}

	&__label {
		margin-top: 0.3125em;
		margin-left: 1em;

		span {
			font-size: 0.8125em;
		}
	}

	&__icon {
		display: flex;
		align-items: center;
		justify-content: center;

		width: 2.875em;
		height: 2.875em;
		border-radius: 50%;
		background-color: $color_success;
		color: $color_white;

		&:before {
			font-size: 0.875em;
		}
	}

}
