.preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: $color_white;
    z-index: 20;

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 1;
    transition: 0.3s;

    &.hide {
        opacity: 0;
    }

    &__content {
        position: relative;
        width: 10em;
        height: 10em;
        @media (min-width: 768px) {
            width: 20em;
            height: 20em;

        }

    }

    &__item {
        position: absolute;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        animation: 1s linear infinite;
        -webkit-animation: 1s linear infinite;
    }

    &__first {
        border-bottom: 0.25em solid $color_danger;
        animation-name: first;
    }

    &__second {
        border-right: 0.25em solid $color_success;
        animation-name: second;

    }

    &__third {
        border-top: 0.25em solid $main_color;
        animation-name: third;

    }

}

@keyframes first {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}
@keyframes second {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}
@keyframes third {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}
