.video {
	&__bg {
		position: relative;
		width: 100%;
		padding-bottom: 11.875em;

		@media (min-width: 501px) {
			width: 36.25em;
			padding-bottom: 21.25em;

		}

		&_full {
			@media (min-width: 501px) {
				width: 100%;
				padding-bottom: 46.875em;

			}
		}

		&_large {
			@media (min-width: 501px) {
				width: 55.3125em;
				padding-bottom: 31.25em;
			}
		}
	}

	&__play {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		align-items: center;
		justify-content: center;
		width: 7.1875em;
		height: 7.1875em;
		border-radius: 50%;
		background-color: $color_success;
		color: $color_white;
		cursor: pointer;
		transition: background-color 0.3s;
		font-size: 0.55em;
		@media (min-width: 501px) {
			font-size: 1em;

		}

		i {
			font-size: 2.75em;
			margin-left: 0.25em;
		}

		&:after {
			content: '';
			position: absolute;
			display: block;
			border-radius: 50%;
			top: 50%;
			left: 50%;
			border: 0.375em solid;
			border-color: $color_success;
			transform: translate(-50%,-50%),scale(1);
			width: 6.875em;
			height: 6.875em;
			animation: 1s pulse1 infinite;
			transition: border-color 0.3s;
		}

		&:hover {
			background-color: $color_danger;

			&:after {
				content: '';
				border-color: $color_danger;
			}
		}

	}

}

@keyframes pulse1 {
	0% {
		transform: translate(-50%,-50%) scale(1);
	}

	60% {
		opacity: 0.2;
	}

	to {
		opacity: 0;
		transform: translate(-50%,-50%) scale(1.2);
	}
}
