.statistics {
    overflow: hidden;
    padding-top: 9.375em;
    padding-bottom: 3.75em;

    @media (min-width: 501px) {
        padding-top: 7.1875em;
        padding-bottom: 0;
        margin-bottom: -11.25em;
    }

    &__top {

        margin-top: 1.125em;
        @media (min-width: 501px) {
            margin-top: 3.4375em;
            height: 32.5em;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;

            .caption {
                margin-top: -3em;
                margin-left: 2em;
            }
        }

    }

    &__bottom {
        position: relative;
        margin-top: 2.125em;

        @media (min-width: 501px) {
            height: 35.625em;

            .caption {
                position: absolute;
                top: 5em;
                right: 6em;
            }
        }
    }

}

.screenshots {
    position: relative;
    flex: none;
    width: 64.375em;
    height: 32.25em;
    font-size: 0.31068em;

    @media (min-width: 501px) {
        margin-right: -18.125em;
        font-size: 1em;
    }

    &__item {
        position: absolute;
        width: 28.125em;
        height: 15.625em;

        &:nth-child(1) {
            background-image: url("../img/screenshots_4.webp");
            top: 8em;
            left: 33em;
        }

        &:nth-child(2) {
            background-image: url("../img/screenshots_3.webp");
            top: 15.5em;
            left: 24.75em;
        }

        &:nth-child(3) {
            background-image: url("../img/screenshots_2.webp");
            top: 0.5em;
            left: 7.25em;
        }

        &:nth-child(4) {
            background-image: url("../img/screenshots_1.webp");
            top: 8.5em;
            left: -2em;
        }
    }

}

.caption {
    text-align: center;
    margin: 0 auto;
    @media (min-width: 501px) {
        margin: 0;
        flex: none;
        width: fit-content;
    }

    &__number {
        font-family: $second_font_family;
        line-height: 1.1484;
        @media (min-width: 501px) {
            letter-spacing: -0.03em;
        }

        span {
            font-weight: 300;
            font-size: 3.375em;
            @media (min-width: 501px) {
                font-size: 6.25em;

            }
        }
    }

    &__label {
        font-family: $second_font_family;
        letter-spacing: -0.02em;
        margin-bottom: 0.375em;
        @media (min-width: 501px) {
            margin-bottom: 0.8125em;
            letter-spacing: normal;
        }

        span {
            font-weight: 300;
            font-size: 1.5625em;
            @media (min-width: 501px) {
                font-size: 2.75em;

            }
        }
    }

    &__description {
        line-height: 0.95;
        @media (min-width: 501px) {
            line-height: 1.4;
        }

        span {
            font-size: 0.6875em;
            @media (min-width: 501px) {
                font-size: 1.125em;

            }
        }
    }

    &_icon {
        position: relative;

        &:before {
            content: '\e90b';
            font-family: 'icomoon';
            position: absolute;
            color: #E60023;
            font-size: 2.125em;
            top: -0.9em;
            left: -0.275em;

            @media (min-width: 501px) {
                top: -0.76em;
                left: -1.275em;
                font-size: 4.0625em;

            }

        }
    }

}

.messenger {
    position: relative;
    width: 58.5625em;
    height: 35.625em;
    background-image: url("../img/people.webp");
    font-size: 0.46745em;
    left: -8.5em;

    @media (min-width: 501px) {
        font-size: 1em;
        position: absolute;
        top: -3em;
        left: -12em;

    }

    &__phone {
        position: absolute;
        width: 18.25em;
        height: 34.5625em;
        background-image: url("../img/phone.webp");
        font-size: 0.784em;
        bottom: 6.5em;
        left: 27.5em;

        @media (min-width: 501px) {
            font-size: 1em;
            bottom: -2.5em;
            left: 20em;
        }

    }

}
