@font-face {
    font-family: 'Literata';
    src: url('Literata-Bold.eot');
    src: url('Literata-Bold.eot?#iefix') format('embedded-opentype'),
        url('Literata-Bold.woff2') format('woff2'),
        url('Literata-Bold.woff') format('woff'),
        url('Literata-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('Literata-ExtraBold.eot');
    src: url('Literata-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Literata-ExtraBold.woff2') format('woff2'),
        url('Literata-ExtraBold.woff') format('woff'),
        url('Literata-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('Literata-Black.eot');
    src: url('Literata-Black.eot?#iefix') format('embedded-opentype'),
        url('Literata-Black.woff2') format('woff2'),
        url('Literata-Black.woff') format('woff'),
        url('Literata-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('Literata-Medium.eot');
    src: url('Literata-Medium.eot?#iefix') format('embedded-opentype'),
        url('Literata-Medium.woff2') format('woff2'),
        url('Literata-Medium.woff') format('woff'),
        url('Literata-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('Literata-ExtraLight.eot');
    src: url('Literata-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Literata-ExtraLight.woff2') format('woff2'),
        url('Literata-ExtraLight.woff') format('woff'),
        url('Literata-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('Literata-Light.eot');
    src: url('Literata-Light.eot?#iefix') format('embedded-opentype'),
        url('Literata-Light.woff2') format('woff2'),
        url('Literata-Light.woff') format('woff'),
        url('Literata-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('Literata-Regular.eot');
    src: url('Literata-Regular.eot?#iefix') format('embedded-opentype'),
        url('Literata-Regular.woff2') format('woff2'),
        url('Literata-Regular.woff') format('woff'),
        url('Literata-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Literata';
    src: url('Literata-SemiBold.eot');
    src: url('Literata-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Literata-SemiBold.woff2') format('woff2'),
        url('Literata-SemiBold.woff') format('woff'),
        url('Literata-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

