
<footer class="footer footer_thank">
  <div class="footer__row">
    <div class="container_center al_c">
      <div class="footer__col"><a class="logo img" href="/"><img src="/img/logo_footer.png"/></a>
        <div class="logo__descpiption"><span>Лидер в создании детских пространств с собственным производством полного цикла</span></div>
      </div>
      <div class="footer__col">
        <div class="footer__content pb border snakeline"> <span>Производство и отдел продаж</span><a href="tel:+74994040200">+7 499 40 40 200</a><a href="mailto:sale@mamka.moscow">sale@mamka.moscow</a></div>
        <div class="footer__content pt snakeline"> <a href="#">Дизайнерам интерьеров</a></div>
      </div>
    </div>
  </div>
  <div class="footer__row">
    <div class="container_center">
      <div class="footer__col">
        <div class="copyright">
          <div class="copyright__row"><span>ООО «Мамка — фабрика детской мебели»</span></div>
          <div class="copyright__row">
            <div class="copyright__col"><span>ИНН 7<i class="d_none"></i>413024359</span></div>
            <div class="copyright__col"><span>КПП 741301001</span></div>
          </div>
          <div class="copyright__row">
            <div class="copyright__col"><span>ОГРН 1177<i class="d_none"></i>456048802</span></div>
            <div class="copyright__col"><span>ОКВЭД 31.09</span></div>
          </div>
        </div>
      </div>
      <div class="footer__col">
        <div class="footer__content snakeline"> <a href="#">Политика конфиденциальности</a><span>Разработка сайта — <a href="#" target="_blank">Александр Воробьев</a></span></div>
      </div>
    </div>
  </div>
</footer>