
<header class="header">
  <div class="header__row">
    <div class="header__col">       <a class="logo img" href="/"><img src="/img/logo_dark.png"/></a>
      <div class="logo__descpiption"><span>Лидер в создании детских пространств с собственным производством полного цикла</span></div>
    </div>
    <div class="header__col desktop">
      <div class="adress">
        <div class="adress__img img"><img src="/img/adress.png"/></div>
        <div class="adress__text"><span>Шоурум в Москве: Проспект Мира, 102, стр. 38 ЖК «Парк Мира»</span></div>
      </div>
    </div>
    <div class="header__col desktop">
      <div class="callback">
        <div class="callback__label"><span>Вы дизайнер-интерьера? Сэкономьте ваше время</span></div>
        <div class="callback__link snakeline"><a href="#">Закажите наш обратный звонок</a></div>
      </div>
    </div>
    <div class="header__col">
      <div class="phone"><a class="phone__link" href="tel:+74994040200"><i class="phone__icon icon_phone mobile"></i><span class="phone__number desktop">+7 499 40 40 200</span></a>
        <div class="phone__label desktop"><span>Звонок бесплатный</span></div>
      </div>
    </div>
  </div>
</header>