footer.footer

    .footer__row
        .container_center.al_c
            .footer__col
                a.logo.img(href="/")
                    img(src="/img/logo_footer.png")
                .logo__descpiption
                    span Лидер в создании детских пространств с собственным производством полного цикла
            .footer__col
                .footer__content.pb.border.snakeline 
                    span Производство и отдел продаж
                    a(href="tel:+74994040200") +7 499 40 40 200
                    a(href="mailto:sale@mamka.moscow") sale@mamka.moscow
                .footer__content.pt.snakeline 
                    a.pop_up_js(href="#") Дизайнерам интерьеров
    .footer__row
        .container_center
            .footer__col
                .copyright
                    .copyright__row
                        span ООО «Мамка — фабрика детской мебели»
                    .copyright__row
                        .copyright__col
                            span ИНН 7<i class="d_none"></i>413024359
                        .copyright__col
                            span КПП 741301001
                    .copyright__row
                        .copyright__col
                            span ОГРН 1177<i class="d_none"></i>456048802
                        .copyright__col
                            span ОКВЭД 31.09
            .footer__col
                .footer__content.snakeline 
                    a(href="#" class="privacy_policy_js") Политика конфиденциальности
                    span Разработка сайта — <a href="https://vorobyev.moscow/" target="_blank">Александр Воробьев</a>
