header.header.header_thank
    .header__row
        .header__col        
            a.logo.img(href="/")
                img(src="/img/logo_thank.png")
        .header__col
            .header__link.snakeline
                i.icon_arrow
                a(href="/") Вернуться на главную страницу
