header.header
    .header__row
        .header__col        
            a.logo.img(href="/")
                img(src="/img/logo_dark.png")
            .logo__descpiption
                span Лидер в создании детских пространств с собственным производством полного цикла
        .header__col.desktop
            .adress
                .adress__img.img
                    img(src="/img/adress.png")
                .adress__text
                    span Шоурум в Москве: Проспект Мира, 102, стр. 38 ЖК «Парк Мира»
        .header__col.desktop
            .callback
                .callback__label
                    span Вы дизайнер-интерьера? Сэкономьте ваше время
                .callback__link.snakeline
                    a.pop_up_js(href="#") Закажите наш обратный звонок
        .header__col
            .phone
                a.phone__link(href="tel:+74994040200")
                    i.phone__icon.icon_phone.mobile
                    span.phone__number.desktop +7 499 40 40 200
                .phone__label.desktop
                    span Звонок бесплатный
