<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description" content="description")
        meta(name="keywords" content="keywords")
        //- <meta name="format-detection" content="telephone=no">

        link(rel="icon" href="favicon.ico" type="/image/x-icon")

        link(rel="stylesheet", type="text/css", href="css/fancybox.min.css")
        link(rel="stylesheet", type="text/css", href="css/style.css")
        title Document
    body
        .wrapper
            include header.pug

            main.main_content
                block content

            include footer.pug
            include modal.pug

            include scripts.pug
