block variable
    -var path = '';
    -var page = true;

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description" content="description")
        meta(name="keywords" content="keywords")
        //- <meta name="format-detection" content="telephone=no">

        link(rel="icon" href=path + "favicon.ico" type="/image/x-icon")

        //- <link rel="preconnect" href="https://fonts.googleapis.com">
        //- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        //- <link href="https://fonts.googleapis.com/css2?family=Literata:wght@500&display=swap" rel="stylesheet">

        link(rel="stylesheet", type="text/css", href=path + "css/aos.css")
        link(rel="stylesheet", type="text/css", href=path + "css/fancybox.min.css")
        link(rel="stylesheet", type="text/css", href=path + "css/style.css")
        title Document
    body

        if page
            .wrapper
                #preloader.preloader
                    .preloader__content
                        .preloader__item.preloader__first
                        .preloader__item.preloader__second
                        .preloader__item.preloader__third

                if page
                    include header.pug
                else
                    include header_thanks.pug

                main.main_content
                    block content

                if page
                    include footer.pug
                else
                    include footer_thanks.pug

                include modal.pug

                include scripts.pug


        else
            .wrapper.wrapper_thank
                #preloader.preloader
                    .preloader__content
                        .preloader__item.preloader__first
                        .preloader__item.preloader__second
                        .preloader__item.preloader__third

                if page
                    include header.pug
                else
                    include header_thanks.pug

                main.main_content
                    block content

                if page
                    include footer.pug
                else
                    include footer_thanks.pug

                include modal.pug

                include scripts.pug
