script(src="js/jquery.js")
script(src="js/form.js")
script(src="js/modal.js")
script(src="js/aos.js")
script(src="js/fancybox.min.js")
script(src="js/jquery.maskedinput.min.js")
script(src="js/function.js?"+version+"")
