extends layout/layout.pug

block content
    // begin firstscreen
    section#firstscreen.firstscreen.section.bg
        .container_center
            .firstscreen__content
                h1.section__title
                    span Дизайн детских пространств для дома и производство мебели премиум-класса 
                .section__subtitle.desktop
                    span Разработаем дизайн-проект детской комнаты, предоставим полную техническую документацию и укомплектуем мебелью премиум-класса, изготовленную на собственном производстве
                .firstscreen__action
                    a.btn.pop_up_2_js(href="#") Рассказать о своих пожеланиях
                .firstscreen__extra
                    .extra
                        .extra__wrap
                            .extra__content
                                span Вся мебель разработана совместно со швейцарским конструкторском бюро Sonex
                            .extra__icon.img
                                img(src="img/ch.png")

    // end firstscreen

    // begin clients
    section#clients.clients.section
        .container_center
            h2.section__title(data-aos="fade-up")
                span Более 1 000 проектов реализовано за 5 лет
            .section__subtitle
                span Среди наших клиентов известные актеры, спортсмены, участники списка Forbes. Но в первую очередь — это любящие родители, стремящихся создать комфортные и безопасные пространства для своих детей
            .clients__list
                // start item
                .clients__item
                    .clients__quote
                        .quote
                            .quote__wrap
                                .quote__icon
                                    i.icon_quotes
                                .quote__content
                                    span Любое наше пожелание было услышано и реализовано. Ариане эта комната запомниться на всю жизнь! Мы правильно сделали, что нашли вас.
                    .clients__persone
                        .persone
                            .persone__bg.bg
                            .persone__name
                                span Анна 
                                span Хилькевич
                                small воспитывает двух дочерей,<br> актриса театра и телевидения

                    .clients__video
                        .video
                            .video__bg.bg(style="background-image: url('img/bg_1.webp')")
                                .video__play.js-youtubeModal#FgLhf1NXp_A
                                    i.icon_play


                // end item
                // start item
                .clients__item
                    .clients__quote
                        .quote
                            .quote__wrap
                                .quote__icon
                                    i.icon_quotes
                                .quote__content
                                    span Для меня очень важно то, как моя семья проводит свое время. С появлением новой двухэтажной кровати, наша жизнь в доме преобразилась, потому что здесь можно не только спать, но и играть.
                    .clients__persone
                        .persone
                            .persone__bg.bg
                            .persone__name
                                span Андрей 
                                span Мерзликин
                                small воспитывает двух сыновей<br> и двух дочерей, актер театра и кино

                    .clients__video
                        .video
                            .video__bg.bg(style="background-image: url('img/bg_2.webp')")
                                .video__play.js-youtubeModal#s8l6X94DBNA
                                    i.icon_play


                // end item
                // start item
                .clients__item
                    .clients__quote
                        .quote
                            .quote__wrap
                                .quote__icon
                                    i.icon_quotes
                                .quote__content
                                    span Получилось лаконично и стильно. Качество крутое, кайфуем — трогаешь и приятно:) В действительности получилось даже красивее, чем на картинках. Невозможно оторваться!
                    .clients__persone
                        .persone
                            .persone__bg.bg
                            .persone__name
                                span Дмитрий 
                                span Кожома
                                small воспитывает сына<br> и дочь, артист и шоумен

                    .clients__video
                        .video
                            .video__bg.bg(style="background-image: url('img/bg_3.webp')")
                                .video__play.js-youtubeModal#BMI2GMTzetw
                                    i.icon_play


                // end item





    // end clients

    // begin projects
    section#projects.projects.section
        .container_center
            .projects__grid
                each item in [ {number: '1', title: 'Детскаяна<br> 6 детей'}, {number: '2', title: 'Дом Бохо'}, {number: '3', title: '2-уровневая<br> комната для девочки'}, {number: '4', title: 'Комната для разнополых деток'}, {number: '5', title: 'Домик для юного принца'}, {number: '6', title: 'Комната<br> для девочки'} ]

                    .projects__item
                        a.img(href="img/project_"+item.number+".jpg" data-fancybox data-type="image")
                            img(src="img/project_"+item.number+".webp" loading="lazy")
                            .projects__content
                                .projects__icon
                                    i.icon_arrow
                                .projects__title
                                    span!=item.title

    // end projects

    // begin development
    section#development.development.section
        .container_center
            .development__content

                .development__left
                    h2.section__title.section__title_sm(data-aos="fade-up")
                        span Получите коммерческое предложение на разработку дизайн-проекта для вашей детской
                        small в 3-х ценовых вариантах
                    .development__offer.bg(data-aos="fade-up")



                .development__right
                    .development__item
                        .development__icon
                            span 1
                        .development__label
                            span Расчёт по производству мебели

                    .development__item
                        .development__icon
                            span 2
                        .development__label
                            span Стоимость комплектации интерьера

                    .development__item.development__item_form 
                        .development__icon
                            i.icon_phone
                        .development__label
                            span <b>Оставьте свой телефон,</b><br> чтобы мы связались с вами, уточнили информацию по проекту и предоставили вам подборку под вашу задачу
                        .development__form
                            form.form(action="send.php")
                                //- из какой формы на сайте
                                input(type="hidden" name="subject" value="форма: Получите коммерческое предложение на разработку дизайн-проекта для вашей детской")
                                //- проверка спама
                                input(type="hidden" name="notspam" value="")

                                .form__row
                                    input.tel(type="text", name="phone" required placeholder="+7")
                                .form__row
                                    .button
                                        button.btn(type="submit") Получить предложение
                                .form__row.form__row_mb-0
                                    .form__privacy
                                        span Нажимая на кнопку, вы соглашаетесь на <a class="privacy_policy_js" href="#">условия обработки данных</a>

                .development__time
                    .time
                        .time__title
                            span 14 дней

                        .time__desc
                            span.mobile  - 
                            span срок разработки проекта


    // end development

    // begin team
    section#team.team.section.bg
        .container_center

            h2.section__title.section__title_sm
                span Команда
                .team__logo.img
                    img(src="img/logo.png")
            .section__subtitle.section__subtitle_team
                span это эксперты в области дизайна, проектирования и производства детских комнат в квартире и частном доме под ключ
            .section__subtitle
                span Над созданием каждого объекта работает не один специалист, а целый проектный отдел, включающий инженеров, архитекторов, столяров, дизайнеров и менеджеров
        .team__extra(data-aos="fade-left")
            .extra
                .extra__wrap
                    .extra__content
                        i 240<small>+</small>
                        span реализовано командой лишь за прошлый год




    // end team


    // begin statistics
    section#statistics.statistics.section
        .container_center
            h2.section__title.section__title_sm(data-aos="fade-up")
                span Задаем тренды в индустрии и являемся самым популярным производителем детской мебели премиум-качества в России
            .statistics__top
                .screenshots
                    .screenshots__item.bg(data-aos="fade-left" data-aos-delay="900")
                    .screenshots__item.bg(data-aos="fade-left" data-aos-delay="600")
                    .screenshots__item.bg(data-aos="fade-left" data-aos-delay="300")
                    .screenshots__item.bg(data-aos="fade-left")

                .caption.caption_icon
                    .caption__number
                        span 9 000 000
                    .caption__label
                        span просмотров в месяц
                    .caption__description
                        span собирают наши подборки детских<br> интерьеров в Pinterest

            .statistics__bottom
                .messenger.bg
                    .messenger__phone.bg(data-aos="fade-up" data-aos-delay="600")
                .caption
                    .caption__number
                        span 220 000+
                    .caption__label
                        span подписчиков в Instagram
                    .caption__description
                        span ежедневно следят за нашими<br> проектами и новостями

    // end statistics


    // begin feedback
    section.feedback.section
        .container_center
            .feedback__wrap
                .feedback__content
                    h2.feedback__title
                        span Хотите получить подборку готовых идей и интерьерных решений под ваш проект?
                    .feedback__subtitle
                        span <b>Оставьте свой телефон,</b> чтобы мы связались с вами, уточнили информацию по проекту и предоставили вам подборку под вашу задачу
                    .feedback__form
                        form.form.form_grid(action="send.php")
                            //- из какой формы на сайте
                            input(type="hidden" name="subject" value="форма: Хотите получить подборку готовых идей и интерьерных решений под ваш проект?")
                            //- проверка спама
                            input(type="hidden" name="notspam" value="")

                            .form__row
                                input.tel(type="text", name="phone" required placeholder="+7")
                            .form__row
                                .button
                                    button.btn(type="submit") Получить предложение
                            .form__row.form__row_mb-0.form__row_full
                                .form__privacy
                                    span Нажимая на кнопку, вы соглашаетесь на <a class="privacy_policy_js" href="#">условия обработки данных</a>
                .feedback__bg.bg

    // end feedback


    // begin production
    section#production.production.section
        .container_center
            .production__content
                .production__left 
                    h2.section__title.section__title_sm(data-aos="fade-up")
                        span Производим индивидуальную детскую мебель на собственной фабрике на Урале
                    .production__square
                        span 4 000 м<sup>2</sup>
                        small площадь производства
                    .production__film.desktop
                        .production__img.img(data-aos="fade-right")
                            img(src="img/chair.png")
                        .production__label
                            .production__icon
                                img(src="img/play_border.svg")
                            span Посмотрите мини-фильм<br> о фабрике-производителе<br> «Мамка»

                .production__right
                    .section__subtitle
                        span Строительство собственного технологичного и автоматизированного мебельного производства — это уровень, позволить который себе могут лишь единицы. <b>Но это позволяет нам:</b>
                    .production__list.counter-wrap
                        each item in ['Контролировать и проверять качество каждой единицы мебели, которая готова отправиться в дом заказчика.', 'Создавать идеальные по исполнению, эстетике и безопасности продукты.', 'Точно соблюдать обозначенные сроки и стоимость производства.' ]
                            .production__item.counter-item
                                .counter-el
                                span=item
                    .production__info.mobile
                        span Служба технического контроля на производстве состоит из шести человек, и каждая единица мебели проходит через два поста контроля качества.
                    .production__label.mobile
                        span <b>Посмотрите мини-фильм</b><br> о фабрике-производителе «Мамка»
            .production__video
                .video
                    .video__bg.video__bg_full.bg(style="background-image: url('img/bg.jpg')")
                        .video__play.js-youtubeModal#OgUKmjwCuuI
                            i.icon_play
            .production__info.desktop
                span Служба технического контроля на производстве состоит из шести человек,<br> и каждая единица мебели проходит через два поста контроля качества.








    // end production


    // begin products
    section#products.products.section
        .container_center
            h2.section__title.section__title_sm(data-aos="fade-up")
                span Более 100 категорий и наименований продукции в ассортименте и под заказ с полной гарантией производителя
            .products__grid
                each item in [ {number: '1', title: 'Кровати'}, {number: '2', title: 'Диваны'}, {number: '3', title: 'Шкафы'}, {number: '4', title: 'Столы и стулья'}, {number: '5', title: 'Спортивные уголки'}, {number: '6', title: 'Зоны хранения'} ]
                    .products__item.bg(style="background-image: url('img/cat_"+item.number+".webp')")
                        .products__title
                            span!=item.title

    // end products

    // begin feedback
    section.feedback.feedback_second.section
        .container_center
            .feedback__wrap
                .feedback__content
                    h2.feedback__title
                        span Нужно индивидуальное производство мебели по проекту или хотите посмотреть полный каталог?
                    .feedback__subtitle
                        span <b>Оставьте свой телефон,</b> чтобы мы связались с вами, уточнили информацию по проекту и предоставили вам подборку под вашу задачу
                    .feedback__form
                        form.form.form_grid(action="send.php")
                            //- из какой формы на сайте
                            input(type="hidden" name="subject" value="форма: Нужно индивидуальное производство мебели по проекту или хотите посмотреть полный каталог?")
                            //- проверка спама
                            input(type="hidden" name="notspam" value="")

                            .form__row
                                input.tel(type="text", name="phone" required placeholder="+7")
                            .form__row
                                .button
                                    button.btn(type="submit") Получить предложение
                            .form__row.form__row_mb-0.form__row_full
                                .form__privacy
                                    span Нажимая на кнопку, вы соглашаетесь на <a class="privacy_policy_js" href="#">условия обработки данных</a>
                .feedback__bg.bg

    // end feedback

    // begin founder
    section#founder.founder.section.bg
        .container_center
            .founder__wrap
                .founder__content
                    h2.section__title(data-aos="fade-up")
                        span Мы создаем продукт, которым пользуются наши дети
                    .section__subtitle
                        span Я сам не так давно стал отцом и понимаю, насколько важно создать комфортную, функциональную, а главное — безопасную среду для обучения, отдыха и досуга ребенка в доме.
                    .section__subtitle
                        span Мы не только производим, но и сами пользуемся нашей мебелью у себя дома. Я лично отвечаю за качество наших продуктов и выполнение всех обязательств в полном объеме в указанный срок и в оговоренном бюджете.
                    .section__subtitle
                        span Более того, уставный капитал компании 9 000 000 рублей. Это значит, что Mamka — единственная из всех компаний на рынке индивидуальной детской мебели может гарантировать вам полную финансовую безопасность сделки.
                    .founder__persone
                        span Артём Подобрянский
                    .founder__logo
                        .founder__img.img
                            img(src="img/founder_logo.svg")
                        .founder__label
                            span Сооснователь и руководитель компании

    // end founder

    // begin contacts
    section#contacts.contacts.section
        .container_center
            .contacts__row
                .contacts__col
                    h2.section__title(data-aos="fade-up")
                        span Приезжайте в наш шоурум в Москве
                    .section__subtitle
                        span Мы будем рады видеть вас в нашем новом пространстве, где вы сможете ознакомиться с образцами мебели нашего производства, подобрать отделочные материалы, оценить качество австрийской фурнитуры и используемых пород дерева.
                    .contacts__numbers
                        .numbers
                            .numbers__item
                                span 150 м<sup>2</sup>
                                small площадь шоурума
                            .numbers__item
                                span 800
                                small единиц образцов

                .contacts__col
                    .video
                        .video__bg.video__bg_large.bg(style="background-image: url('img/bg_last.jpg')")
                            .video__play.js-youtubeModal#96-8ZVH-pIs
                                i.icon_play
            .contacts__row
                .contacts__col
                    .contacts__text
                        span Для того чтобы менеджер смог уделить вам достаточно времени и внимания, будем признательны, если вы запишитесь на визит заранее.
                    .contacts__link.snakeline
                        a.pop_up_3_js(href="#") Записаться на визит в шоурум
                .contacts__col
                    .contacts__adress
                        span Ждем вас с 11:00 до 20:00 по адресу:
                        span <b> Москва, Проспект Мира 102, стр. 38м.<br> Алексеевская, ЖК «Парк Мира»</b>
                        span без выходных
                    .contacts__action
                        a.btn_border(href="tel:+74994040200") +7 499 40 40 200
                        a.btn_border.btn_border_success(href="mailto:sales@mamka.moscow") sales@mamka.moscow

    // end contacts
